<div class="about-me-container">

  <!-- Image container -->
  <div class="image-container">
    <img src="assets/About_Me.JPG" alt="Deven Meza" class="profile-image">
  </div>

  <div class="about-me-content">
    <p>
      Hi there! I'm a full-time software engineer with over 2 years of experience in the financial sector.
      A proud graduate of Texas State University, my journey into tech was enriched by roles at the university's IT help desk and
      as the digital project developer for the school's newspaper.
    </p>

    <p>
      Computers and music have always been integral to my life, and I've been fortunate to transform these passions into diverse hobbies
      and career opportunities. From playing the saxophone and producing music to gaming and offering DJ services, I embrace
      the blend of creativity and technology in all I do.
    </p>

    <p>
      Today, alongside my full-time role, I'm excited to offer website development services for small businesses. It's my way of combining
      my tech expertise with my desire to support and uplift the local community. If you're interested in my DJ services or have
      any tech-related queries, feel free to reach out!
    </p>
  </div>
</div>
