<div class="tube-border"></div>
<div class="tube-shape">
  <div class="content">
    <div class="stars"></div>
    <div class="home-content">
      <div class="home-container">
        <header class="home-navbar">
          <img src="assets/Deven-Meza-Logo.png" alt="Home button Deven Meza logo" class="logo">
        </header>
        <div class="home-options-container">
          <app-home-options *ngIf="showHomeOptions"></app-home-options>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
