.service-item h2,
.service-item p,
.service-item h3 {
  color: #333;  /* Darker color for better contrast against tan */
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.service-item {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px); /* Assuming you want 2 services per row */
}

.service-item h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.service-item h3 {
  color: #2ECC71; /* Green color for pricing, you can change as you prefer */
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .service-item {
    width: 100%;
  }
}

/* This ensures that the body will scroll if content overflows */
body {
  overflow-y: auto;
}

/* For mobile & tablet */
@media (max-width: 768px) {
  .services-list {
    overflow-y: auto;  /* Allows vertical scrolling */
    max-height: 100vh;  /* Set a max height to trigger scrolling */
    padding-bottom: 20px;  /* Add some space at the bottom */
  }
}
